html,body {
    height: 100%;
    background-color: #508bfc;
}

#wrapper {
    display: flex;
    flex-direction: column;
    background-color: #508bfc;
}

#button-place {
    display: flex;
    justify-content: space-between;
}

#footer {
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 2vh;
    color: #fff;
    background-color: #000;
}